<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="template.xhtml">

	<ui:define name="tabTitle">Words</ui:define>
	
	<ui:define name="mainContent">
	<p:growl autoUpdate="true"></p:growl>
	
	<div class="ui-g">
		<div class="ui-g-4">
			<p:panel header="Upload new files">
				 <h:form enctype="multipart/form-data">
		            <p:fileUpload value="#{attachmentController.uploadedFile}" mode="simple" required="true"/>
		            <br/>
		            <p:commandButton value="Upload" actionListener="#{attachmentController.upload}" ajax="false" process="@this" update=":tableForm"/>
		        </h:form>
	        </p:panel>
			
			<p:panel header="Download files">
				<h:form>
					<h:commandLink title="Export A-G words.">
						<h:outputLabel value="Download A-G"></h:outputLabel>
						<p:fileDownload value="#{dataController.generateAtoGFile()}" />
					</h:commandLink>
					<br/>
					
					<h:commandLink title="Export H-N words.">
						<h:outputLabel value="Download H-N"></h:outputLabel>
						<p:fileDownload value="#{dataController.generateHtoNFile()}" />
					</h:commandLink>
					<br/>
					
					<h:commandLink title="Export O-U words.">
						<h:outputLabel value="Download O-U"></h:outputLabel>
						<p:fileDownload value="#{dataController.generateOtoUFile()}" />
					</h:commandLink>
					<br/>
					
					<h:commandLink title="Export V-Z words.">
						<h:outputLabel value="Download V-Z"></h:outputLabel>
						<p:fileDownload value="#{dataController.generateVtoZFile()}" />
					</h:commandLink>
				</h:form>	
			</p:panel>
		</div>
		
		<div class="ui-g-6">
			<h:form id="tableForm">
				<h:panelGroup rendered="#{empty dataController.wordsDuplication}">
					<div class="ui-messages ui-widget">
						<div class="ui-messages-warn ui-corner-all">
							<span class="ui-messages-warn-icon"></span>
							<ul>
								<li>
									<span class="ui-messages-warn-summary">Please upload new files to calculate words duplicates.</span>
								</li>
							</ul>
						</div>
					</div>
				</h:panelGroup>
			
				<p:dataTable id="wordsTable" value="#{dataController.wordsDuplication.entrySet()}" var="entry" scrollable="true" scrollHeight="400">
					<p:column headerText="Word">
						<h:outputText value="#{entry.key}"></h:outputText>
					</p:column>
					
					<p:column headerText="Times duplicated">
						<h:outputText value="#{entry.value}"></h:outputText>
					</p:column>
				</p:dataTable>
			</h:form>
		</div>
	</div>
	
	</ui:define>
	
</ui:composition>	
