<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title><ui:insert name="tabTitle"></ui:insert></title>
</h:head>

<h:body>
	<DIV>
		
		<DIV>
			<ui:insert name="mainContent"></ui:insert>
		</DIV>
		
	</DIV>
</h:body>

</html>